body {
    background-color: antiquewhite;

}
h2, p {
    margin: 0;
}

.card-item {
    width: 288px;
    background-color: #fff;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.card-item a {
    text-decoration: none;
    color: #29363d;
}
.card-item img {
    vertical-align: top;

    aspect-ratio: 288/196;
    width: 100%;
    object-fit: cover;
}
.card-text {
    padding: 24px 16px 16px;
}
.card-text .title {
    font-size: 16px;
    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
/* title과 가장 인접한 형제 p 하나 선택 */
.card-text .title + p {
    margin: 12px 0 16px;

    font-size: 12px;
    line-height: 20px;

    color: #5a6a72;

    overflow: hidden;
    /* 2줄이 넘어가면 말 줄임표 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    padding-left: 6px;
}